#nl-footer {
  width: 100%;
  max-width: 100%;
  // margin-top: auto;
  // background-color: #ffffff;
  // font-size: $footer-fontsize;
  // display: flex;
  // gap: 32px;
  padding: 32px 0;
  // border-top: 1px solid #E8EAED;

  // .line{
  //     border-top: 1px solid rgba(#393939, 0.5);
  //   }

  .footer_top{

    width: 100%;
    max-width: 100%;
    margin-top: auto;
    background-color: #ffffff;
    font-size: $footer-fontsize;
    display: flex;
    padding: 32px 0;
    justify-content: space-evenly;
    border-top: 1px solid #E8EAED;

    .nl-footer__top {
    width: 373px;
    height: 126px;
    // position: relative;

    .inner_footer {
      // position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
     

    .inner_content{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #5F6368;
        display: flex;
        flex-direction: column;
      }
    }
    .inner {
      display: flex;
      padding: 25px 0;
      justify-content: space-between;
      align-items: center;
      min-height: 90px;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .logo {
        img {
          height: 56px;
          width: auto;
        }
      }

      .dowwn-app {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);

        @include media-breakpoint-down(md) {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 20px;
          @include translate(0, 0);
        }

        .img {
          margin-right: 30px;
          overflow: hidden;
          position: relative;

          @include media-breakpoint-down(lg) {
            margin-right: 10px;
          }

          &::before {
            content: "";
            position: absolute;
            pointer-events: none;
            top: -85px;
            left: -100%;
            width: 100px;
            height: 150px;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.13) 0%,
              rgba(255, 255, 255, 0.13) 84%,
              rgba(255, 255, 255, 0.5) 100%,
              rgba(255, 255, 255, 0) 100%
            );
            @include rotate(20deg);
            @include opacity(0);
          }

          img {
            height: 40px;
            width: auto;
            max-width: 100%;

            @include media-breakpoint-down(lg) {
              height: 34px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            &::before {
              @include opacity(1);
              left: 150%;
              transition-property: left, opacity;
              transition-duration: 0.5s, 0.1s;
              transition-timing-function: ease;
            }
          }
        }
      }

      .social {
        display: flex;

        @include media-breakpoint-down(lg) {
          flex-wrap: wrap;
          justify-content: flex-end;
        }

        @include media-breakpoint-only(md) {
          flex-wrap: wrap;
          position: relative;
          top: -2px;
        }

        @include media-breakpoint-down(md) {
          flex: 0 0 100%;
          margin-top: 20px;
          justify-content: center;
          text-align: center;
        }

        p {
          font-size: 1.4rem;
          color: $footer-text-color-primary;

          @include media-breakpoint-only(md) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: right;
          }

          @include media-breakpoint-down(md) {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;            
          }
        }

        a {
          color: $footer-text-color-primary;
          margin-left: 17px;
          line-height: 0;

          &:hover {
            color: $primary;
          }

          i {
            font-size: 2.1rem;

            &.fa-tiktok {
              font-size: 1.8rem;
              margin-top: 2px;
            }
          }
        }
      }
    }
    }

    .nl-footer__middle {
    color: $footer-text-color-primary;
    width: 238.33px;
    height: 126px;
    display: flex;
    flex-direction: column;
    gap: 8px;

      .middle-text{
        color: #5F6368;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      .middle_loc{
        display: flex;
        gap: 8px;

        .loc_icon{
          width: 20px;
          height: 20px;
          fill: #5F6368;
        }

        .loc_text{
          color: #0E1013;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .middle_phone{
        display: flex;
        gap: 8px;

        .phone__icon{
          width: 20px;
          height: 20px;
          fill: #5F6368;
        }

        .phone_text{
          color: #0E1013;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .middle_email{
        display: flex;
        gap: 8px;

        .email_icon{
          width: 20px;
          height: 20px;
          fill: #5F6368;
        }

        .email_text{
          color: #0E1013;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      > .row {
        padding-top: 35px;
        padding-bottom: 35px;
        position: relative;

        .test{
          position: absolute;
          color: #393939;
        }

        div[class^="col"] {
          @include media-breakpoint-down(md) {
            padding-left: 15px;
            padding-right: 15px;
          }

          .ctn {
            h3 {
              font-size: 1.4rem;
              padding-bottom: 3px;
            }

            p {
              margin-top: 7px;
            }
          }

          dl {
            dt {
              font-size: 1rem;
              color: $footer-text-color-secondary;
              padding-bottom: 3px;
              text-transform: uppercase;
            }

            dd {
              a {
                display: block;
                margin-top: 7px;

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }

        .col-md-4 {
          @include media-breakpoint-down(lg) {
            margin-top: 30px;
          }
        }
      }

      .row {
        @include media-breakpoint-down(md) {
          margin-right: -15px;
          margin-left: -15px;
        }
      }
    
    }

    .nl-footer__bottom {
    color: $footer-text-color-secondary;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .bottom_title{
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      color: #5F6368;
    }

    .bottom_text{
      font-weight: 400;
      font-size: 14px;
      color: #0E1013;
      line-height: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.1rem;
    }
    }
  }

  .footer_bottom{
    width: 100%;
    max-width: 100%;
    padding: 0 296px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .line{
      width: 100%;
      border-top: 1px solid rgba(#393939, 0.5);
    }
    .bottom_middle{
      display: flex;
      gap: 24px;
      justify-content: space-between;

      .bottom_header{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.17px;
        color: #5F6368;
      }

      .bottom_acc{
        font-size: 14px;
        font-weight: bold;
        color: #0E1013;
        line-height: 20px;
        letter-spacing: 0.17px;
      }
    }
    .bottom_title{
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.25px;
      align-items: center;
      color: #5F6368;
    }
  }
}
