*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar{
  width: 100%;
  height: 35px;
  /* padding: 0 15rem; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E02401;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14.06px;
  gap: 24px;
}

.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon:hover{
  color: #ffa8a8;
  transition: all 0.3s;
}

.header-1{
  width: 580px;
  display: flex;
 gap: 2rem;
 padding-left: 30px;
}

.bar-1{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bar-2{
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-2{
  width: 630px;
  display: flex;
  gap: 1.5rem;
  /* margin-left: 20px; */
  padding-left: 50px;
}

.address{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.language{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.hover:hover{
  color: #ffa8a8;
  transition: all 0.3s;
}

.caret-down{
  cursor: pointer;
}

.caret-down:hover{
  color: #ffa8a8;
  transition: all 0.3s;
}

.caret-down{
  width: 13px;
height: 13px;
}

.social{
  display: flex;
  align-items: center;
  gap: 10px;
}
/* MENU */
.menu-bar{
  margin: 0 auto;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.logo-img{
  width: 162px;
  height: 56px;
  cursor: pointer;
}

.list-menu{
  height: 24px;
  display: flex;
  list-style: none;
}
.menu-li{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0 10px;
}

.title:hover{
  cursor: pointer;
  color: #E02401;
  transition: all 0.3s;
}

.title{
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0E1013;
  margin-right: 5px;
}

.icon-menu{
  color: #98A2B3;
}

.booking{
  width: 176px;
  height: 44px;
  background-color: #E02401;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.icon-calendar{
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  margin-right: 5px;
}

.book{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}



.baner{
  font-family: "Roboto", sans-serif;
  position: relative;
  max-width: 100%;
  height: 225px;
  background-image: url(image/baner.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7); /* Lớp phủ mờ màu trắng */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Khoảng cách nội dung */
}

.title-archive{
  font-size: 40px;
  font-weight: 600;
  color: #E02401;
  margin-bottom: 10px;
}

.home{
  color: #adb5bd;
}

.container-content{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.image-1{
  width: 779px;
  height: 522px;
}

.content{
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  height: 522px;
  width: 373px;
  background-color: #751201;
  border-radius: 8px;
  padding: 20px 30px;
}

.content-header{
  width: 325px;
  height: 84px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 18px;
}

.content-time{
  font-size: 12px;
  letter-spacing: 0.25px;
}

.content-title{
  width: 312px;
  height: 252px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.container-cart{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-top: 50px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-cart-2{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-top: 30px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-cart-3{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-top: 30px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container-cart-4{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-top: 30px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cart-time{
  width: 373px;
  height: 28px;
  font-size: 12px;
}

.image-card{
  width: 373px;
  height: 222px;
  border-radius: 8px;
}

.cart-content{
  width: 373px;
  height: 56px;
  font-size: 16px;
}

.cart-1{
  cursor: pointer;
}

.limit{
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.page{
  width: 25%;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
} 

.page-li{
  width: 40px;
  height: 40px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px; /* Bo góc */
color: #333; /* Màu chữ */
font-size: 14px;
cursor: pointer; /* Thêm hiệu ứng con trỏ */
transition: background-color 0.2s ease, color 0.2s ease;
}

.page-val{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #475467;
}

.active{
  background-color: #F9FAFB;
  color: #f44336; /* Màu chữ đỏ */
  font-weight: bold;
}

.container-footer{
  width: 100%;
  height: 358px;
  margin-top: 50px;
  border-top: 1px solid #E8EAED;
}

.footer{
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 50px 0;
  padding: 0 20px;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 126px;
  font-size: 14px;
  line-height: 20.02px;
}
.footer-img{
  width: 162px;
  height: 56px;
  margin-bottom: 10px;
}

.footer-infor{
  display: flex;
  flex-direction: column;
  width: 280.33px;
  height: 126px;
  /* justify-content: center; */
  gap: 8px;
}

.footer-title{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 21.98px;
  color: #5F6368;
  margin-bottom: 10px;
}

.footer-location{
  display: flex;
  /* justify-content: center; */
  gap: 8px;
  /* align-items: center; */
}

.footer-icon{
  width: 20px;
  height: 20px;
  
}

.footer-list{
  width: 238.33px;
  height: 134px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-support{
  display: flex;
  flex-direction: column;
  width: 238.33px;
  height: 190px;
  gap: 8px;
}

.button-bar{
  display: flex;
  padding-top: 20px;
  margin: 0 auto;
  border-top: 1px solid #E8EAED;
  width: 1130px;
  height: 52px;
  justify-content: space-between;
  /* align-items: center; */
}

.bar-title{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #5F6368;
  width: 876px;
  height: 40px;
}

.access{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.end{
  font-family: "Roboto", sans-serif;
  padding: 16px 35px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 60px;
  background-color: #F9FAFB;
}

.tem{
  width: 249px;
 height: 28px;
 color: #5F6368;
 font-size: 16px;
 font-weight: 400;
}

.networking{
  width: 184px;
  height: 24px;
}

.icon-end{
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #80868B;
  margin-right: 5px;
}